.section-light {
  background-color: #f7f7f7;
  padding: 4rem 0;
}

.section-white {
  background-color: #ffffff;
  padding: 4rem 0;
}

.section-dark {
  background-color: #ececec;
  padding: 4rem 0;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}


.section-light,
.section-white,
.section-dark {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}